{% extends 'about-wrapper.html' %}

{% load staticfiles %}

{% block about %}
<div class="container">
<!--    Load navbar-->
    
    <div class="row description">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <h4>About</h4>
        <!--            <p>Hello World!</p>-->
                    <p>Stride is an anime statistics site that collects MyAnimeList (MAL) data to perform tasks such as tracking over time and both item-based and user-based recommender systems. It is not in any way meant to be an alternative or a replacement to MAL.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Statistics</h4>
                    <h6>Overview</h6>
                    <p>Stride tracks the MAL statistics of the top 2000 MAL shows (by popularity) over time, updated daily. Additionally, it also calculates the mean and variance of user show ratings, updated weekly. The user data was taken from RedditAnimeList.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Item-based recommender (beta)</h4>
                    <h6>Overview</h6>
                    <p>Based on the statistics data from the user show ratings for the top 500 shows, Stride performs item-based collaborative filtering to determine the similarity between shows. For each given show, the six most similar shows are displayed as recommendations in the show's statistics page.</p>
                    
                    <p>The algorithm used is a modified version of Adjusted Cosine Similarity; extra checks are performed to filter out shows that are exceptionally high rated or popular, as these tend to me recommended quite frequently. It is hoped that lesser known shows can be discovered this way.</p>
                    
<!--                    <p></p>-->
                    
                    <h6>Evaluation Metric</h6>
                    <p>Hopefully, I can find the time to perform an evaluation in the future.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4>User-based recommender (beta)</h4>
                    <h6>Overview</h6>
                    
                    
                    <p>For the user-based recommender, a user enters their MAL profile then stride takes a random sample of 1000 RedditAnimeList users and finds the few most similar to the given MAL. (Indeed, there is an element of randomness to this. I decided this would make things interesting.) Recommendations are based off what the similar users liked that the given user has not yet watched.</p>
                    
                    <p>The algorithm used is a modified version of k-nearest neighbors (kNN). First, cosine similarity is used to determine the users in the random sample that are most similar. Then a rating map scheme is constructed between the most similar users and the given user (to adjust for the fact that people tend to use the 1-10 scale subjectively). The highest of the average of the shows in the rating map are selected and displayed to the recommender.</p>
                    
<!--                    <p></p>-->
                    
                    <h6>Evaluation Metric</h6>
                    <p>Hopefully, I can find the time to perform an evaluation in the future.</p>
                    
                    <h6>Known errors:</h6>
                    <ul>
                        <li>Users with the newer type of profile (that only loads 300 shows at once) won't have more than 300 of their ratings fed into the recommender. This can be fixed by using a scraper like Selenium, but I will not be attempting to do this. :(</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Sources:</h4>
                    <ul>
                        <li>Show data: <a href="https://www.myanimelist.net">MyAnimeList</a></li>
                        <li>Users: <a href="http://www.redditanimelist.net">RedditAnimeList</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Extra notes:</h4>
                    <p>This was my first large project and unfortunately, I was learning everything as I went along and didn't have a good organization scheme - so the code for Stride is very messy. If you're curious, you view it <a href="https://github.com/Maytide/AnimeStride">here</a> (don't say I didn't warn you though!) I hope to learn more about good practices in coding, web design and machine learning in the future.</p>
                    
                    <p>George Zhang (zhanggq@mcmaster.ca)</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}