{% extends 'home-wrapper.html' %}

{% load staticfiles %}

{% block home %}

<div class="container">
<!--    Load navbar-->
    

    <div class="jumbotron">
        <h1 class="display-3">Jumbotron heading</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
    </div>
    
    <div class="row description text-center">
        <div class="btn-group">
            <a href="/stride_stats"><button type="button" id="btn-recommender" class="btn btn-lg btn-info btn-main">Anime Statistics</button></a>
            <a href="/stride_recommender"><button type="button" id="btn-stats" class="btn btn-lg btn-info btn-main">Recommender</button></a>
        </div>
    </div>
    
    <div class="row description">
        <div class="col-lg-6">
            <h4>What is this?</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>
    
    
<!--    {{testvar}}-->
    <div class="row display">
        
        <div class="col-lg-4 col-sm-6">
            <div class="row row-category-name">
                <div class="col-3">
                    <a><img class="icon" src="{% static 'img/icons/icon-updoot.png' %}"></a>
                </div>
                <div class="col-9">
                    <h4 class="category-name">Random</h4>
                </div>
            </div>
            {% verbatim %}
            <!--
                        Use ng-src so that django doesn't throw a 404
                        (Note that using src works though - Angular renders it, but
                        doesn't remove the {{show.imageurl}}, so django tries to render
                        as well.)
-->
            <div ng-repeat="show in shows_random">
                <div class="row row-display row-thumbnail">
                    <div class="col-3 padding-5-px">

                        <a href="{{show.anime_url}}" class="thumbnail"><img ng-src="{{show.image_url}}" alt=""></a>
                    </div>
                    <div class="col-9 padding-5-px">
                        <div class="thumbnail-head-wrapper">
                            <h6 class="thumbnail-name">{{show.name}}</h6>
                        </div>
<!--                        <p class="thumbnail-genres">{{show.genres}}</p>-->
                        <span class="" ng-repeat="genre in show.genres track by $index">
                            <span class="text-white text-genre-box">
                                <span class="padding-5-px">{{genre}}</span>
                            </span>
                        </span>
                    </div>

                </div>
            </div>
            {% endverbatim %}
        </div>
        
        <div class="col-lg-4 col-sm-6">
            <div class="row row-category-name">
                <div class="col-3">
                    <a><img class="icon" src="{% static 'img/icons/icon-updoot.png' %}"></a>
                </div>
                <div class="col-9">
                    <h4 class="category-name">Recent</h4>
                </div>
            </div>
            {% verbatim %}
            <!--
                        Use ng-src so that django doesn't throw a 404
                        (Note that using src works though - Angular renders it, but
                        doesn't remove the {{show.imageurl}}, so django tries to render
                        as well.)
-->
            <div ng-repeat="show in shows_recent">
                <div class="row row-display row-thumbnail">
                    <div class="col-3 padding-5-px">

                        <a href="{{show.anime_url}}" class="thumbnail"><img ng-src="{{show.image_url}}" alt=""></a>
                    </div>
                    <div class="col-9 padding-5-px">
                        <div class="thumbnail-head-wrapper">
                            <h6 class="thumbnail-name">{{show.name}}</h6>
                        </div>
<!--                        <p class="thumbnail-genres">{{show.genres}}</p>-->
                        <span class="" ng-repeat="genre in show.genres track by $index">
                            <span class="text-white text-genre-box">
                                <span class="padding-5-px">{{genre}}</span>
                            </span>
                        </span>
                    </div>

                </div>
            </div>
            {% endverbatim %}
        </div>
        
        <div class="col-lg-4 col-sm-6">
            <div class="row row-category-name">
                <div class="col-3">
                    <a><img class="icon" src="{% static 'img/icons/icon-updoot.png' %}"></a>
                </div>
                <div class="col-9">
                    <h4 class="category-name">Recent &amp; Popular</h4>
                </div>
            </div>
            {% verbatim %}
            <!--
                        Use ng-src so that django doesn't throw a 404
                        (Note that using src works though - Angular renders it, but
                        doesn't remove the {{show.imageurl}}, so django tries to render
                        as well.)
-->
            <div ng-repeat="show in shows_recent_popular">
                <div class="row row-display row-thumbnail">
                    <div class="col-3 padding-5-px">

                        <a href="{{show.anime_url}}" class="thumbnail"><img ng-src="{{show.image_url}}" alt=""></a>
                    </div>
                    <div class="col-9 padding-5-px">
                        <div class="thumbnail-head-wrapper">
                            <h6 class="thumbnail-name">{{show.name}}</h6>
                        </div>
<!--                        <p class="thumbnail-genres">{{show.genres}}</p>-->
                        <span class="" ng-repeat="genre in show.genres track by $index">
                            <span class="text-white text-genre-box">
                                <span class="padding-5-px">{{genre}}</span>
                            </span>
                        </span>
                    </div>

                </div>
            </div>
            {% endverbatim %}
        </div>

<!--
        <div class="col-lg-8 col-sm-6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
-->
    </div>
    

<!--
    <footer class="footer">
        <p>Footer</p>
    </footer>
-->

</div>
{% endblock %}