{% extends 'website.html' %}

{% load staticfiles %}

{% block app-css %}

<link rel="stylesheet" type="text/css" href="{% static 'css/recommender-css.css' %}"/>

{% endblock %}


{% block app-js %}

<script src="{% static 'js/main.js' %}"></script>

{% endblock %}

{% block app-html %}


<div class="recommender" ng-app="recommenderApp" ng-controller="recommenderController" >

    
    
    
<!--
    {% verbatim %}

    <div ng-app="myApp" ng-controller="cardsListController" id="cardsList">
        <div ng-repeat="card in cards" class="cardItem">
            Card {{card.id}}
        </div>
    </div>
    {% endverbatim %}
-->
    
    <div class="container-fluid">
        {% block urlbar %}
        {% endblock %}

    </div>

    <div class="container-fluid">
        <h1></h1>
        {% block showdisplay %}
        {% endblock %}
    </div>
</div>
    
{% endblock %}