{% extends 'recommender-wrapper.html' %}

{% block urlbar %}
    

<div class="container">
    <div class="page-desc">

        <h4>How does this work?</h4>
        <p>Your scored entries are compared to other users, and we find what users similar to you liked. Check out the technical description here.</p>
        
        <p>There are currently a few bugs, and some requirements for this to work properly. You can find them here.</p>
        
        <p>All data such as descriptions and images from MAL.</p>
    </div>
</div>
    
<div class="container">
    <div class="page-desc">
        <h4>Try it out!</h4>
        <p class="text-muted">(Enter direct link to 'All anime' section if necessary! ex. if your /animelist defaults to 'Currently watching', recommender will not work properly!)</p>
    </div>
    <div class="row row-centered">
        
        <div class="col-md-12 col-centered">
            <div class="search-form">
    <!--            <h3>Enter MAL Profile:</h3>-->
                <form method="POST" class="post-form url-bar">
                    <div class="search-bar">
                        <input type="text" name="url" class="form-control" ng-model="formData.url" placeholder="Your MAL Profile ">
                        {% csrf_token %} 
        <!--                {{ form.as_p }}-->
                        <button type="submit" class="save btn btn-info" ng-click="postData()">Get Recommendations</button>
                    </div>
                </form>
            </div>
        </div>
    <!--
        <div class="col-md-3 col-centered">

        </div>
    -->
    </div>
</div>
    
{% endblock %}

{% block showdisplay %}

{% verbatim %}
<div class="container">
    <div class="row display">
        <div class="col-lg-12">
            <div ng-repeat="show in shows">
                <div class="row row-display row-preview">
                    <div class="col-3">
            <!--
                        Use ng-src so that django doesn't throw a 404
                        (Note that using src works though - Angular renders it, but
                        doesn't remove the {{show.imageurl}}, so django tries to render
                        as well.)
            -->
                        <a href="{{show.anime_url}}" class="preview"><img ng-src="{{show.image_url}}" alt=""></a>
                    </div>
                    <div class="col-9">
                        <div class="preview-head-wrapper">
                            <h6 class="preview-name">{{show.name}}</h6>
                            <div class="row">
                                <div class="col-11 text-margin-bottom-5px">
                                    <span class="" ng-repeat="studio in show.studios track by $index">
                                        <span class="text-white text-studio-box">
                                            <span class="panel-box-padding">{{studio}}</span>
                                        </span>
                                    </span>
                                    <div></div>
                                    <span class="" ng-repeat="genre in show.genres track by $index">
                                        <span class="text-white text-genre-box">
                                            <span class="panel-box-padding">{{genre}}</span>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-1">
<!--                                    Add MAL icon here?-->
<!--                                    Trouble with adding static files inside a verbatim tag.-->
                                </div>
                            </div>
                        </div>
                        <div class="preview-body-wrapper">
                            <p class="preview-synopsis">{{show.synopsis}}</p>
                        
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}

<!--
    {% for show in shows %}
    
    {% endfor %}
-->
{% endblock %}