#navbar-container {
  margin-top: 20px !important;
}

.header,
.footer {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

.nav-item .active{
  background-color: rgb(91, 192, 222) !important;
  color: white;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.nav-item .active:hover {
  background-color: rgb(49, 176, 213) !important;
}

.nav-item a {
  color: rgb(91, 192, 222);
}

@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
}
