li {
  list-style: none;
}

.center-span {
  display: inline-block;
}

.btn-group {
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.1);
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0,0,0,.03);
}

.no-15px-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.text-margin-bottom-04rem p {
  margin-bottom: 0.4rem;
}

.no-15px-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.padding-5-px {
  padding-left: 5px;
  padding-right: 5px;
}

.padding-10-px {
  padding-left: 10px;
  padding-right: 10px;
}

.text-white {
  color: white;
}

.href-colorless {
  color:rgb(41, 43, 44);
}

.href-colorless:hover {
  color:inherit;
}
/* Space out content a bit */
.main {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.form-control{
  margin-bottom: 10px;
}

.display{

}
.description{
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.display,
.description {
  padding-bottom: 2rem;
}

.btn-main{
  margin:0px auto;
}

.col-unpad {
  padding-top: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem !important;

}


/* Customize container */
@media (min-width: 60em) {
  .container {
    max-width: 58rem;
  }
}

.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

.icon {
  max-height: 50px;
  max-width: 50px;
}

.icon-md {
  max-height: 65px;
  max-width: 65px;
}

.page-desc {
  padding-top: .75rem;
}

.search-bar input {
  display:inline-block; width:495px;
}

.search-bar button {
  display:inline-block;
}

/* Supporting marketing content */
.display {
  margin: 3rem 0;
}
.display p + h4 + li{
  margin-top: 1.5rem;
}

.row-category-name {
  font-weight: 650;
  padding-bottom: 10px;
  border-bottom: .05rem solid #aaaaaa;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.category-name {

}

.thumbnail-name {
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: .05rem solid #e5e5e5;
  line-height: 1.35;
}
.thumbnail-genres {
  font-size: 14px;
  line-height: 1.3;
}

.thumbnail img {
    height: 80px;
    max-height: 100%;
    max-width: 100%;
}

.thumbnail-img-wrapper {
  min-width:65px;
}

.row-display {
  border: 1px solid rgba(0,0,0,0);
  max-height: 280px;
}

.row-display:hover .thumbnail-head-wrapper{
  color: rgb(49, 176, 213);
}

.row-display.row-preview {
  margin-top: 20px;
  min-height: 270px;
}

.row-display:hover .preview-head-wrapper{
  color: rgb(49, 176, 213);
}

.preview-head-wrapper {
  margin-top: 3px;
  border-bottom: .05rem solid #e5e5e5;
}

.preview-name {
  margin-bottom: 0.6rem;
  font-size: 20px;
  line-height: 1;
}
.preview-genres,
.preview-studios {
  margin-bottom: 0.4rem;
  font-size: 14px;
  line-height: 1;
}

.preview-genres {
  margin-bottom: 0.5rem;
}

.preview-body-wrapper {
  overflow: auto;
  max-height: 195px;
  color: rgb(108,108,108);
}

.preview-synopsis {
  font-size: 14px;

}

.preview img {
  width: 225px;
  max-height: 100%;
  max-width: 100%;
}

.row-display:hover .panel-head-wrapper{
  color: rgb(49, 176, 213);
}

.row-display:hover .panel-head-wrapper .href-colorless{
  color: rgb(49, 176, 213);
}

.table-panel tr{
  height: 80px;
}

.row.row-panel-label {
  height: 60px;
}

.row-panel:hover {
  border: 1px solid rgb(91, 192, 222);
}

.panel-head-wrapper {
  /*border-bottom: .05rem solid #e5e5e5;*/
  color:black;
  margin-bottom: 0.3rem;
}

.panel-line-even {
  display:block;
  border:none;
  color:white;
  height:1px;
  background: rgb(192,192,192);
  background: -webkit-linear-gradient(-90deg, white, rgb(192,192,192)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, white, rgb(192,192,192)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, white, rgb(192,192,192)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, white, rgb(192,192,192)); /* Standard syntax */
}

.panel-line-odd {
  display:block;
  border:none;
  color:white;
  height:1px;
  background: rgb(230,230,230);
  background: -webkit-linear-gradient(-90deg, rgb(230,230,230), rgba(0,0,0,.2)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, rgb(230,230,230), rgba(0,0,0,.2)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, rgb(230,230,230), rgba(0,0,0,.2)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, rgb(230,230,230), rgba(0,0,0,.2)); /* Standard syntax */
}

.panel-body-wrapper {
  color: rgb(108,108,108);
  font-size: 14px;
}

.panel-img-wrapper img {
  height: 45px;
}

.panel-name {
  margin-bottom: .25rem;
}

.panel-media,
.panel-aired,
.panel-members {
  margin-bottom: 0px;
}

.panel-media,
.panel-aired {
  visibility: hidden;
}

.panel-box-container{
  overflow-y: hidden;
  overflow-x: hidden;
}

.text-genre-box,
.text-studio-box {
  border-top-left-radius: 20px 20px;
  border-bottom-left-radius:  20px 20px;
  border-top-right-radius: 20px 20px;
  border-bottom-right-radius:  20px 20px;
}

.text-genre-box {
  font-size: 13px;
  background-color: rgb(91, 192, 222);
  padding:2px;

  /*border: 2px solid rgb(108,108,108);*/
}

.text-studio-box {
  font-size: 13px;
  background-color: rgb(92, 184, 92);
  padding:2px;
}

.panel-box-padding {
  padding-left: 5px;
  padding-right: 5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 60em) {
  /* Remove the padding we set earlier */

  .display,
  .description{
    padding-right: 0;
    padding-left: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .panel-img-wrapper img {
    height: 90px;
  }

  .table-panel tr{
    height: 120px;
  }

  .panel-media,
  .panel-aired {
    visibility:inherit;
  }
}

@media screen and (max-width: 60em) {
  .panel-box-container {
    padding: 0.3rem !important;
  }
}
