li {
  list-style: none;
}

/* Space out content a bit */
.main {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */


.display{

}
.description{
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.display,
.description {
    padding-bottom: 2rem;
}

.btn-main{
    margin:0px auto;
}

.thumbnail img {
    height: 100px;
    max-height: 100%;
    max-width: 100%;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.display {
  margin: 3rem 0;
}
.display p + h4 + li{
  margin-top: 1.5rem;
}

.row-display {
  margin-top: 10px;
}

.row-display:hover {
  color: rgb(49, 176, 213);
}

.show-name {
  padding-bottom: 5px;
  border-bottom: .05rem solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */

  .display,
  .description{
    padding-right: 0;
    padding-left: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
