{% extends 'stats-wrapper.html' %}

{% load staticfiles %}

{% block sub-js %} 
<script type="text/javascript" src="{% static 'js/stats.js' %}"></script>
{% endblock %}

{% block body %}

<div class="container">
    <div ng-app="statsApp" ng-controller="statsController">
        {% verbatim %}
        <table class="table-striped table-responsive table-panel">
            <thead>
            </thead>
            
            <tbody>
                <tr ng-repeat="show in shows">
                    <td class="col-1">
                        <div class="panel">
                            <a href="{{show.anime_url}}"><img ng-src="{{show.image_url}}" alt=""></a>
                        </div>
                    </td>
                    <td class="col-8">{{show.name}}</td>
                </tr>
            </tbody>
        </table>
        {% endverbatim %}
    </div>
</div>


{% endblock %}