{% extends 'recommender-wrapper.html' %}

{% block urlbar %}
    
<div class="row row-centered">
    <div class="col-md-3 col-centered">

    </div>

    <div class="col-md-6 col-centered">
        <div class="url-bar-box">
            <h3>Enter MAL Profile:</h3>
            <form method="POST" class="post-form url-bar">
                <input type="text" name="url" class="form-control" ng-model="formData.url">
                {% csrf_token %} 
<!--                {{ form.as_p }}-->
                <button type="submit" class="save btn btn-primary" ng-click="postData()">Enter</button>
            </form>
        </div>
    </div>
    <div class="col-md-3 col-centered">

    </div>
</div>
    
{% endblock %}

{% block showdisplay %}

{% verbatim %}
<div id="cardsList">
<!--    Show {{shows.id}} {{shows.content}} ABCDE-->
    <div ng-repeat="show in shows" class="cardItem">
        <div class="row row-centered">
        <div class="col-md-6 col-centered">
            <div class="row row-centered">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="{{show.anime_url}}">
                            <img src={{show.image_url}} alt="Lights" style="width:100%">
                            <div class="caption">
                                <p>{{show.name}}</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="description">
                        <p>{{show.synopsis}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endverbatim %}

    {% for show in shows %}
    
    {% endfor %}
{% endblock %}