{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<!--    Based off of Django and Bootstrap templates.-->
<!--    All data has been obtained from MAL! Visit MyAnimeList.net to get more anime information. -->
    
<head>
    <title>Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
    {% block app-css %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}"/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="{% static 'js/master.js' %}"></script>
    
    <script> 
//        $("#navbar").load("{% static 'html/navbar.html' %}"); 
        current_href_partition = window.location.href.toString().split('/');
//        alert(current_href_partition);
        current_host = 'http://maystride.com';
//        current_host = 'https://' + current_href_partition[2];
//        alert(current_host);
        nav_items = ['nav-home', 'nav-recommender', 'nav-stats', 'nav-about']
        
        $(function(){
          $("#navbar").load("{% static 'html/navbar.html' %}"); 
        });
        
        $(function(){
          $("#footer").load("{% static 'html/footer.html' %}"); 
        });
        
    </script> 
    {% block app-js %}
    {% endblock %}
</head>

<body>
    <div class="container stats-container" id="navbar-container">
        <div id="navbar"></div>
        
    </div>
<!--    TODO: Move ng declarations to a file that extends this and parents recommender  -->
<!--    Done                                                                            -->
    {% block app-html %}
    {% endblock %}
    
    <div class="container stats-container no-15px-padding" id="footer-container">
        <div id="footer"></div>
    </div>
</body>

</html>