{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
<!--    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/style.css"/>-->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
<!--    TODO: Move ng declarations to a file that extends this and parents recommender  -->
<!--    Done                                                                            -->
    {% block app-html %}
    {% endblock %}
</body>

</html>